body{
    display: flex;
    flex-direction: column;
    align-items: center;
}





#courses{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.card{
    border: 1px solid black;
    width: 450px;
    border-radius: 15px;
    margin: 40px;
    animation: 2s slide-up ease-in-out 0s;
}

.card-body{
    padding: 0 15px;
}

.card-text{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card > img{
    width: 100%;
    border-radius: 15px;
}

.course-enroll-button{
    background-color: orangered;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin: 15px 0 ;
}

.course-link{
    text-decoration: none;
    color: white;
    font-size: 18px;
}


@keyframes slide-up{
    from{
        transform: translateY(10%);
    }

    to{
        transform: translateY(0%);
    }
}